@font-face {
    font-family: 'KoVHeadingFont';
    src: url("KoVHeadingFont.woff2") format("woff2");
    font-style: normal;
}
@font-face {
    font-family: 'permanent-marker';
    src: url("PermanentMarker.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: 'dancing-script';
    src: url("DancingScript.woff2") format("woff2");
    font-style: normal;
} 
@font-face {
    font-family: 'KoVFont';
    src: url("KoVFont.woff2") format("woff2");
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ko-v-font
{
  font-family: "KoVHeadingFont" !important;
}

/* .dancing-script{
    font-family: "DancingScript" !important;
    font-size: 24px;
} */

.section--full-width-media__container {
  display: block;
}
.section--full-width-media__container > div:nth-of-type(2) {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width: 60%;
}

/* @media only screen and (max-width: 586px) {
    .hero__container .hero__media-wrapper .hero__image--mobile{
        display: block;
    }
    .hero__container .hero__media-wrapper img:not(.hero__image--mobile){
        display: none;
    }
}
@media only screen and (min-width: 587px) {
    .hero__container .hero__media-wrapper .hero__image--mobile{
        display: none;
    }
    .hero__container .hero__media-wrapper img:not(.hero__image--mobile){
        display: block;
    }
} */

.email-wrapper {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 32px 64px;
    color: white;
}

.email-wrapper-background.custom-section-background img{
    filter: blur(2px);
}

.hero__container rte-formatter h1{
    margin: 0;
}

footer .details-content li a {
    color: white;
    font-size: 19px;
    text-decoration: underline;
}

.editorial h1,
.editorial h2,
.editorial h3,
.editorial h4,
.editorial h5,
.editorial h6,
.editorial p,
.editorial a{
    color: white !important;
}
.editorial rte-formatter h1:first-child,
.editorial rte-formatter h2:first-child,
.editorial rte-formatter h3:first-child,
.editorial rte-formatter h4:first-child,
.editorial rte-formatter h5:first-child,
.editorial rte-formatter h6:first-child{
    margin : 0;
}
@media screen and (min-width: 768px) {
    .media-block__media--desktop{
        display: block;
    }
    .media-block__media--mobile{
        display: none;
    }
    .editorial rte-formatter > p {
        max-width: none;
    }
}
@media screen and (max-width: 767px) {
    .media-block__media--desktop{
        display: none;
    }
    .media-block__media--mobile{
        display: block;
    }
    .section--full-width-media__container > div:nth-of-type(2) {
        position: relative;
        width: 100%;
    }
    .editorial div:nth-of-type(2) {
        background-color: black;
    }
    .editorial * {
        width: 100%;
        text-align: center !important;
        min-width: 100%;
    }
}

#header-group > div:nth-of-type(1) {
    z-index: 2 !important;
}

.hero__container .button-link{
    padding: 15px 25px;
    border: 1px solid white;
}

/* #header-component[data-sticky-state="inactive"] */

/* #product-information {
    margin-top: calc(var(--header-height) + var(--announcement-bar-height) + 20px);
    padding: 0;
} */
#product-information media-gallery {
    margin : 0;
}

@media screen and (min-width: 1260px) {
    #product-information .product-information__content {
        max-width: 1260px;
        margin: auto;
    }
}


.select-hero-title{
    border-bottom: 3px solid black;
}

.footer-marquee, .hero-marquee {
    border-top: 3px solid rgb(254 201 9);
    border-bottom: 3px solid rgb(254 201 9);
    box-shadow: 0 -3px 19px -5px rgb(254 201 9),
                0 3px 14px -5px rgb(254 201 9);
    z-index: 99;
}

.youtube-video-dashboard {
    /* padding-top: 70px; */
    background-color: rgb(183 178 171) !important;
}

.youtube-video-dashboard .custom-section-content img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .youtube-video-dashboard .group-block-content{
        grid-template-columns: repeat(2,1fr);
        display: grid;
        gap: 1rem;
        padding: 20px;
    }
}
@media only screen and (min-width: 769px) {
    .youtube-video-dashboard .group-block-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 20px;
    }
}
.youtube-video-dashboard .section-content-wrapper{
    gap: 0 !important;
}

.youtube-video-dashboard .group-block{
    background-color: rgb(51 51 51);
}
@media only screen and (max-width: 749px) {
    .ufc-section .group-block-content{
        align-items: center;
    }
    .ufc-section .group-block-content .ufc-text{
        align-items: center;
    }
}

header.header-section{
    z-index: 1000 !important;
}